{% extends 'base.jinja2' %}

{% block subtitle %}Donations{% endblock subtitle %}

{% block content %}
<ul>
    {% for donation in donations %}
        <li>{{ donation.date.year }}-{{ donation.date.month }}-{{ donation.date.day }}  
            {{ donation.donor.name }}  ${{ donation.value }}
        </li>
    {% endfor %}
</ul>
{% endblock content %}
