{% extends 'base.jinja2' %}

{% block subtitle %}Donors{% endblock subtitle %}

{% block content %}
<form method="POST">
    <ul>
        {% for donor in donors %}
            <li><input type="submit" name='donor_name' value="{{ donor.name }}"></li>
        {% endfor %}
    </ul>
</form>
{% endblock content %}