<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Donations</title>
    </head>
    <body>
        <h1>Donation Tracking System</h1>
        <nav>
            <a id="all" href="{{ url_for('donations') }}">Donation History</a>
            <a id="donors" href="{{ url_for('all_donors') }}">Donors</a>
            <a id="add_donor" href="{{ url_for('add_donor') }}">Add Donor</a>
            <a id="add_donation" href="{{ url_for('add_donation') }}">Add Donation</a>
            <a id="thank_you" href="{{ url_for('thank_you') }}">Generate TY</a>
        </nav>
        <h2>{% block subtitle %} {% endblock subtitle %}</h2>
        {% block content %} {% endblock content %}
   </body>
</html>
